<article class="badges">
  <div class="container">
    <h2>
      <a
        href="https://docs.google.com/document/d/1-RcAkTAewIuqkpTd4mAw9BjFmUz3MHYng04AfIoMxu0/edit?tab=t.0#heading=h.f1ln3nrby5p3"
        target="_blank"
      >
        Рерайт, редагування та переклад російською статті для сайту
        компанії-виробника ветеринарних препаратів.
      </a>
    </h2>
    <h2>
      <a
        href="https://docs.google.com/document/d/1-RcAkTAewIuqkpTd4mAw9BjFmUz3MHYng04AfIoMxu0/edit?tab=t.0#heading=h.f1ln3nrby5p3"
        target="_blank"
      >
        Рерайт, редактирование и перевод на русский язык статьи для сайта
        компании-производителя ветеринарных препаратов.
      </a>
    </h2>

    <ul class="badges-list">
      <li class="badges-item">
        <a
          class="badges-link"
          href="https://www.npmjs.com/package/vite-plugin-html-inject"
          target="_blank"
          rel="noopener noreferrer"
        >
          HTML Inject
        </a>
      </li>
      <li class="badges-item">
        <a
          class="badges-link"
          href="https://www.npmjs.com/package/vite-plugin-full-reload"
          target="_blank"
          rel="noopener noreferrer"
        >
          Full Reload
        </a>
      </li>
      <li class="badges-item">
        <a
          class="badges-link"
          href="https://www.npmjs.com/package/postcss-sort-media-queries"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sort Media Queries
        </a>
      </li>
    </ul>
  </div>
</article>
