<footer>
  <div class="container footer-container">
    <ul class="footer-social">
      <li>
        <a target="_blank" href="https://www.facebook.com/@j.tolstonogova/">
          <img src="img/facebook.png" alt="facebook" width="35" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/julia_about_julia/">
          <img src="img/instagram.png" alt="instagram" width="35" />
        </a>
      </li>
    </ul>
    <div class="footer-author">
      Сайт зроблено
      <a
        class="footer-link"
        href="https://www.instagram.com/sorokina.y_julias.jewelry/"
        target="_blank"
        >Юлією Сорокіною</a
      >
    </div>
  </div>
</footer>
