<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1>Юлія Толстоногова</h1>
      <ul>
        <li class="hero-item">
          <div class="img-box">
            <img src="/img/writing_pen_icon-blue.png" alt="перо" width="20" />
          </div>
          <p>Редакторка</p>
        </li>
        <li class="hero-item">
          <div class="img-box">
            <img src="/img/writing_pen_icon-blue.png" alt="перо" width="20" />
          </div>
          <p>Письменниця</p>
        </li>
      </ul>
    </div>

    <div class="hero-img">
      <img src="img/julia-1-1.jpg" alt="Юлія Толстоногова" width="300" />
    </div>
  </div>
</section>
