<article>
  <div class="container portfolio-container">
    <h2>Портфоліо</h2>
    <!---------------------------------------------------------->
    <h3>РЕДАГУВАННЯ | ПЕРЕКЛАДИ</h3>
    <ul>
      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          <p>
            Рерайт, редагування та переклад російською статті для сайту
            виробника ветеринарних препаратів (язык — украинский, русский)
          </p>
          <a
            class="portfolio-link"
            href="https://docs.google.com/document/d/1-RcAkTAewIuqkpTd4mAw9BjFmUz3MHYng04AfIoMxu0/edit?tab=t.0#heading=h.f1ln3nrby5p3"
            target="_blank"
          >
            «Очні хвороби у собак і котів: лікуємо ефективно»
          </a>
        </div>
      </li>
    </ul>
    <!---------------------------------------------------------->
    <h3>СТАТТІ</h3>
    <ul>
      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          <p>
            Стаття для фінансового коуча розміщена на медіа платформі «Егоїст»
          </p>
          <a
            class="portfolio-link"
            href="https://egoistmagaz.in.ua/syspilstvo/yak-myslennya-vplyvaye-na-dokhid/"
            target="_blank"
          >
            «Як мислення впливає на дохід»
          </a>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          <p>
            Стаття для фінансового коуча розміщена на медіа платформі «Егоїст»
          </p>
          <a
            class="portfolio-link"
            href="https://egoistmagaz.in.ua/syspilstvo/pidkoryuyte-finansovi-vershyny/"
            target="_blank"
          >
            «Підкорюйте фінансові вершини: п’ять кроків до успішних інвестицій»
          </a>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          <p>Статья для литовского інтернет-издания vis24.lt</p>
          <a
            class="portfolio-link"
            href="https://www.vis24.lt/index.php/18-home/3132-vojna-v-litsakh-dve-vojny-miroslavy-makarenko"
            target="_blank"
          >
            «Война в лицах: две войны Мирославы Макаренко»
          </a>
        </div>
      </li>
    </ul>
  </div>
</article>
