<article>
  <div class="container">
    <h2>Портфоліо</h2>
    <ul>
      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          Рерайт, редагування та переклад російською статті
          <a
            class="portfolio-link"
            href="https://docs.google.com/document/d/1-RcAkTAewIuqkpTd4mAw9BjFmUz3MHYng04AfIoMxu0/edit?tab=t.0#heading=h.f1ln3nrby5p3"
            target="_blank"
          >
            «Очні хвороби у собак і котів: лікуємо ефективно»
          </a>
          для сайту компанії-виробника ветеринарних препаратів (мова —
          українська, російська)
        </div>
      </li>

      <li class="portfolio-item">
        <div class="img-box">
          <img src="/img/writing_pen_icon-blue.png" alt="перо" width="30" />
        </div>
        <div class="portfolio-txt">
          Стаття
          <a
            class="portfolio-link"
            href="https://egoistmagaz.in.ua/syspilstvo/yak-myslennya-vplyvaye-na-dokhid/"
            target="_blank"
          >
            «Як мислення впливає на дохід»
          </a>
          для фінансового коуча. Матеріал розміщений на медіа платформі «Егоїст»
        </div>
      </li>
    </ul>
  </div>
</article>
