:root {
  --light-color: #f0ecf5;
  --accent-color: #d59ccf;
  --dark-color: #5a194c;
  --text-color: #061434;
  --title-color: #2066bf;
}

body {
  background-color: var(--light-color);
  font-family: Montserrat;
  color: var(--text-color);
  margin: 0;
}

.container {
  margin: 0 auto;
}
