footer {
  background-color: var(--dark-color);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer-social {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.footer-author {
  font-size: 10px;
  color: var(--light-color);
}

.footer-link {
  font-weight: 700;
}
.footer-link:hover {
  color: var(--title-color);
}
