footer {
  background-color: #5a194c;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.footer-social {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.footer-author {
  font-size: 10px;
  color: #d9cfe7;
}

.footer-link {
  font-weight: 700;
}
