article {
  padding: 40px 5px;
}

.portfolio-container {
  padding: 0 16%;
}

@media (max-width: 767.98px) {
  .portfolio-container {
    padding: 0 1%;
  }
}

h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  color: var(--title-color);
  margin: 10px 0;
}

.portfolio-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.portfolio-txt {
  font-size: 18px;
  width: 90%;
}

.portfolio-link {
  font-weight: 600;
  color: var(--dark-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--accent-color);
}
